{% extends "scottyseats/base.html" %}

{% block content %}
    <div class="container-side">
        <select name="language" id="language" onchange="changeOrder();">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="java" selected>Java</option>
        </select>
        <div class="container">
            <div id="header" class="container_left">
                <div id = "roomname" class="big-heading_no_spacing_top">...</div>
            </div>
            <div id="game" class = "grid"></div>
            <div id="footer" class="container_right">
                <div id = "available" class="big-heading_no_spacing">Available : ...</div>
                <div id = "occupied" class="big-heading_no_spacing">Occupied : ...</div>
            </div>
        </div>
        <div class="container">
            <ul id="roomlist" class="roomlist">...</ul>
        </div>
    </div>
    <span id="error" class="error"></span>
    <script>
        var MoveURL = "{% url 'showmap' %}"
        var roomname = "..."
        window.onload = initialize;
    </script>
{% endblock %}

